{{define "navbar"}}
<header>
    <nav>
        <div class="navbar-left">
            <a href="/" class="logo">
                <span class="sr-only">Your Company</span>
                <img class="logo-img" src="/web/static/logo.png" alt="">
            </a>
        </div>
        <!-- Mobile Menu Icon -->
        <div class="mobile-icon">
            <button type="button">
                <span class="sr-only">Open main menu</span>
                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
        </div>
        <!-- Desktop Menu -->
        <!--
        <div class="menu">
            <div class="menu-container">
                <button type="button" aria-expanded="false">
                    Product
                    <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>
                </button>
                <a href="#" class="menu-item">Features</a>
                <a href="#" class="menu-item">Marketplace</a>
                <a href="#" class="menu-item">Company</a>
            </div>
        </div>
        -->
        {{template "search" .}}
        <div class="menu-login">
            <a href="register.html">kayıt ol</a>
            <a href="login.html">giriş yap</a>
        </div>
    </nav>
</header>
{{end}}
